body {
	font-family: sans-serif;
	font-size: 200%
}

input {
	font-size: 100%
}

textarea {
   font-family: inherit;
   font-size: inherit;
   width:100%;
}

header {
	padding:8px;
	margin:-6px;
	background:#dbddbd;
}

#pagenav {
	float:right;
}

form {
	background:#EEE;
	padding:8px 22px;
	margin-top: -4px
}
label {
	font-weight: bold;
	color:#333;
}
